@*@section Header{<a>Yad2</a> }

@ViewData["productList"];*@
@*@ViewData["user"];*@

@*@await Html.PartialAsync("/Views/Products/ShowProducts.cshtml");*@


@*@await Html.PartialAsync("/Views/Shared/RegestraionForm.cshtml");*@
@*@ViewBag.user;*@
@*@ViewBag.productList;*@
