@model List<ProductModel>
@section Header{
    <img src="~/images/Logo.png" width="100" height="100" />
}

<a class="float-right" asp-controller="Products" asp-action="OrderByDate" asp-route-id="OrderByDate"> order by date </a>
<a class="left"  asp-controller="Products" asp-action="OrderByTitle" asp-route-id="OrderByTitle"> order by title </a>


<link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css" rel="stylesheet">
<div class="container">
    <div class="col-xs-12 col-md-6 bootstrap snippets bootdeys">
        @foreach (var item in Model)
        {
            if (item.ProductState == State.UnSold)
            {
                <partial name="_ShowProductPratial" model="item" />
            }
        }
    </div>
</div>



@*ViewData["productList"] as List<ProductModel>*@
