<h1>Welcom to Yad2</h1>
<br />
<br />
<p>this is the website of nitzan ben shoushan. he work very hard. please give him  A for this web.</p>
<h4>Thanks!!!</h4>
@section Header{
    <img src="~/images/Logo.png" width="100" height="100" /> }